.continueWrap {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.completeInfo {
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  text-transform: uppercase;
}

.image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 65%;
}

.next {
  position: absolute;
  left: 80px;
  bottom: 0;
  color:#B9C3C8
  /* position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #B9C3C8 */
}

.xd {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
